langchain
streamlit
chromadb
pypdf
langchain 
langchain_community
openai 
tiktoken 
langchain_experimental 
langchainhub
streamlit==1.35.0
python-dotenv
scikit-learn
huggingface_hub
transformers
qdrant-client